{% extends "base.html" %}
{% block title %}Educacion y informacion {% endblock %}
{% block content %}
<div class="container my-5">
    <div class="row">
        
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card h-100">
                <img src="/static/img/plato1.jpg" class="card-img-top" alt="Descripción de la imagen 1">
                <div class="card-body">
                    <h5 class="card-title">¿Como leer etiquetas nutricionales?</h5>
                    <p class="card-text">te ayuda a tomar decisiones informadas sobre lo que comes. Al leer las etiquetas, puedes identificar 
                        los ingredientes y nutrientes clave, como los azúcares añadidos, las grasas saturadas y el sodio, y evitar productos que
                         no sean saludables para ti. Esto te permite tener un control más preciso sobre lo que estás comiendo y 
                        hacer elecciones más saludables.</p>
                </div>
                <div class="card-footer">
                    <a href="https://share.google/1ou5TocjjznjhlbDq" class="btn btn-success w-100">Enlace</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card h-100">
                <img src="/static/img/corak.jpeg" class="card-img-top" alt="Descripción de la imagen 2">
                <div class="card-body">
                    <h5 class="card-title">Mitos y verdades sobre dietas </h5>
                    <p class="card-text">2. te ayudan a separar la realidad de la ficción. Muchas dietas de moda
                         prometen resultados rápidos y fáciles, pero pueden ser perjudiciales para tu salud. Al conocer los mitos 
                         y verdades, puedes tomar decisiones informadas y evitar caer en trampas publicitarias que pueden dañar tu
                          salud a largo plazo.
</p>
                </div>
                <div class="card-footer">
                    <a href="https://share.google/NW2K9xsqGHFVNuUES" class="btn btn-success w-100">Enlace</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card h-100">
                <img src="/static/img/plato2.jpg" class="card-img-top" alt="foto x">
                <div class="card-body">
                    <h5 class="card-title">Macronutrientes</h5>
                    <p class="card-text">te ayudan a entender cómo funcionan los nutrientes en tu cuerpo. Los macronutrientes 
                        (proteínas, carbohidratos y grasas) son esenciales para el crecimiento, la reparación y la energía del cuerpo. 
                        Al conocer su función, puedes asegurarte de que estás obteniendo lo que necesitas para mantener una buena salud y 
                        evitar deficiencias nutricionales.</p>
                </div>
                <div class="card-footer">
                    <a href="https://share.google/8yvBcCOzZj83q0Qhy" class="btn btn-success w-100">Enlace</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card h-100">
                <img src="/static/img/plato3.jpg" class="card-img-top" alt="Descripción de la imagen 4">
                <div class="card-body">
                    <h5 class="card-title">Importancia de la alimentacion</h5>
                    <p class="card-text">e ayuda a mantener un equilibrio saludable en tu cuerpo. La hidratación es crucial para la salud 
                        digestiva y la función cerebral, mientras que la fibra ayuda a regular el tránsito intestinal y a controlar el azúcar
                         en la sangre. Al priorizar estos nutrientes, puedes mantener una buena salud y prevenir enfermedades crónicas como la 
                         diabetes, 
                        la obesidad y las enfermedades cardíacas.</p>
                </div>
                <div class="card-footer">
                    <a href="https://share.google/GwBXlfx7Xg6J2ok6N" class="btn btn-success w-100">Enlace</a>
                </div>
            </div>
        </div>

    </div>
</div>
<h3>Ejercicios complementarios</h3>
<p><a href="https://dae.udp.cl/cms/wp-content/uploads/2022/03/Guia-de-entrenamiento-en-casa..pdf" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Success link</a></p>

{% endblock %}