{% extends "base.html" %}
{% block title %}Inicio - Kiwi App{% endblock %}
{% block content %}
<div class="p-5 mb-4 bg-dark rounded-3">
    <h2>
        Bienvenido a nuestro sitio web, aquí en la Kiwi App te ofrecemos variedad de
        opciones para mejorar y disfrutar mucho más tu experiencia con la comida.
    </h2>
</div>

<h3 class="text-center my-4">˚ ༘♡ ⋆｡˚Acerca de nosotros˚ ༘♡ ⋆｡˚</h3>

<div class="row align-items-center justify-content-center">
    <div class="col-md-6 col-lg-5 mb-4 mb-md-0 order-md-1">
        <div class="card bg-dark text-white border-secondary shadow-lg">
            <div class="card-body">
                <h3 class="card-title text-success">Nuestra Misión</h3>
                <h2 class="card-text">En Kiwi App, nos dedicamos a facilitar tu día a día con herramientas innovadoras y
                    una experiencia de usuario inigualable. Creemos en la tecnología al servicio de las personas.</h2>
                <h2 class="card-text">Desde su concepción, Kiwi App ha buscado ser un referente en simplicidad y
                    eficiencia, ofreciendo soluciones prácticas a problemas comunes.</h2>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-5 text-center order-md-2">
        <img src="/static/img/corak.jpeg" class="rounded-image-with-border" alt="Logo de Kiwi App">
    </div>
</div>
<div>
    <h2>﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌﹌</h2>
</div>

<div class="container text-center">
    <div class="row align-items-center"> <div class="col-sm-5">
            <div id="carouselExampleCaptions" class="carousel slide d-block mx-auto">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/img/c1.jpeg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Conoce mas dando clik al menu</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/img/c2.jpeg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Conoce mas dando clik al menu</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/static/img/c3.jpeg" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-sm-7 d-flex align-items-center justify-content-center">
            <h3>¡conoce nuestra pagina!ˏˋ ꒰ 🍓🍒🍄 ꒱ ˎˊ˗ (˶˃ ᵕ ˂˶)˗ˏˋ ꒰ 🍓🍒🍄 ꒱ ˎˊ˗
                Explora nuestro menu y encuentra multitud de cosas nuevas que te ayudaran a conocer mas sobre nutrición y como cuidar 
                y tener una mejor alimentacion, unete ya a la kiwi app.
            </h3>
        </div>
    </div>
</div>

{% endblock %}