{% extends "base.html" %}
{% block title %}Inicio - Kiwi App{% endblock %}
{% block content %}
<h1>Comidas rapidas y faciles</h1>
<h1>Dieta vegana</h1>
<div class="card">
  <div class="card-header">
    Hamburguesa de tofu
  </div>
  <div class="card-body">
    <blockquote class="blockquote">
      <p>- Hamburguesa de Tofu y Garbanzos: Una deliciosa hamburguesa vegana hecha con tofu y garbanzos.
        - Ingredientes: tofu, garbanzos, cebolla, ajo, pan rallado
        - Preparación: Mezcla todos los ingredientes y forma hamburguesas
      </p>
    </blockquote>
  </div>
</div>
<h1>Dieta vegetariana</h1>
<div class="card">
  <div class="card-header">
    Musaka de verduras
  </div>
  <div class="card-body">
    <blockquote class="blockquote">
      <p>- Una deliciosa musaka vegetariana hecha con berenjenas, calabacines y queso vegano.
- Ingredientes: berenjenas, calabacines, queso vegano, pasta de tomate
- Preparación: Mezcla todos los ingredientes y hornea en un molde
</p>
    </blockquote>
  </div>
</div>

<h1></h1>
<div class="card">
  <div class="card-header">
PIzza de brocoli  </div>
  <div class="card-body">
    <blockquote class="blockquote">
      <p>- Pizza Verde de Brócoli: Una deliciosa pizza keto hecha con brócoli y queso.
- Ingredientes: brócoli, queso, huevos, aceite de oliva
- Preparación: Mezcla todos los ingredientes y hornea en un molde para pizza
</p>
    </blockquote>
  </div>
</div>
<h1>Recetas rapidas</h1>
<div class="card">
  <div class="card-body">
1. Tacos de Pollo

Ingredientes:
1 pechuga de pollo cocida y desmenuzada
1/2 cebolla picada
1 jalapeño picado
1 cajo de cilantro picado
2 cucharadas de jugo de limón
Sal y pimienta al gusto
Tortillas de maíz

Preparación:
1. En un tazón grande, mezcla la pechuga de pollo desmenuzada, la cebolla picada, el jalapeño picado y el cilantro picado.
2. Agrega el jugo de limón y mezcla bien.
3. Calienta las tortillas de maíz en una sartén o en el microondas.
4. Coloca una cucharada de la mezcla de pollo en el centro de cada tortilla.
5. Dobla la tortilla por la mitad y sirve caliente.  </div>
</div>
{% endblock %}