{% extends 'base.html' %}

{% block title %}info {% endblock %}

{% block head_extra %}
    {% endblock %}

{% block content %}
<body class="bg-dark text-light p-4">

<div class="container">

    <h1 class="mb-4 text-center">Resultados</h1>

    <div class="card bg-dark text-light opacity-100 p-4 mb-4">
        <p><strong>IMC:</strong> {{ imc }}</p>
        <p><strong>TMB:</strong> {{ tmb }} kcal</p>
        <p><strong>Gasto Calórico Total:</strong> {{ gct }} kcal</p>
        <p><strong>Peso Ideal:</strong> {{ peso_ideal }} kg</p>
    </div>

    <h3 class="mt-4">Macronutrientes</h3>
    <div class="card bg-dark text-light opacity-50 p-4">
        <p><strong>Proteínas:</strong> {{ prote }} g</p>
        <p><strong>Carbohidratos:</strong> {{ carbos }} g</p>
        <p><strong>Grasas:</strong> {{ grasas }} g</p>
    </div>

    <a href="/" class="btn btn-outline-light mt-4">Volver</a>

</div>

</body>
{% endblock %}

{% block scripts %}
    {% endblock %}